---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  -clang-analyzer-optin.performance.Padding,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-narrowing-conversions,
  -performance-enum-size,
  -portability-avoid-pragma-once
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|.*/)(lib|test)/.*'
FormatStyle: file
